# --- C++ (Cliente) ---
*.o
*.out
/cliente/cliente
/cliente/message.pb.h
/cliente/message.pb.cc

# --- Python (Servidor/Broker) ---
__pycache__/
*.py[cod]
*$py.class
/servidor/message_pb2.py
/broker/message_pb2.py

# --- Docker ---
.dockerignore

# Ignora as pastas de volume criadas pelo docker-compose
/data_srv1/
/data_srv2/

