# --- C++ (Cliente) ---
*.o
*.out
src/cliente/cliente
src/cliente/message.pb.h
src/cliente/message.pb.cc

# --- Python (Servidor/Broker) ---
__pycache__/
*.py[cod]
*$py.class
src/servidor/message_pb2.py
src/broker/message_pb2.py

# --- Docker ---
.dockerignore

# Ignora as pastas de volume criadas pelo docker-compose
src/data_srv1/
src/data_srv2/

